<header>
		<div class="container">
			<nav role="navigation">
				<div class="level topnav">

						<a href="/">
							DOAB Check
						</a>


						<a href="{% url 'fixing' %}">
							Fixing links
						</a>


						<a href="https://www.doabooks.org/en/publishers/documentation">
						DOAB for Publishers
						</a>

						<a href="https://oapen.org">
							OAPEN
						</a>


						<a href="https://ebookfoundation.org">
							Free Ebook Foundation
						</a>

					</div>



				</div>

			</div>

		</nav>
    </div>
    
</header>