{% load static %}
<html>
<head>
<title>DOAB Check</title>
{% include "basestyle.html" %}
</head>
<body>
{% include "header.html" %}
<main class="section oapen-topic oapen-main">
		<div class="container">
		<div class="content">
<h1>
Welcome to DOAB Check!
</h1>
<p style='box-sizing: content-box'>
<img style='height:5em; padding:1em; margin-bottom: 1em' src='{% static "fef_logo_large.png" %}' alt='FEF logo'>
<img style='height:5em;  padding:1em; margin-bottom: 1em' src='{% static "doab.png" %}' alt='DOAB logo'>
</p
><p>
DOAB Check is a collaboration between the Free Ebook Foundation and the Directory of Open Access Books. It checks each the links in DOAB about once a month, looking for any links that are broken or misconfigured. 
</p>
<p>
We've grouped the links by the publisher's name and by the server url to make it easier for publishers to see whether links they've entered into the DOAB database are working as expected. 
</p>

We have a few ways to view the results.
<ul>
<li>
View the links which appear to have problems <a href="{% url 'probpubs' %}">by publisher name</a>, or below, by the return code.
</li>
<li>
View <a href="{% url 'providers' %}">the list of servers we've checked</a>.
</li>
<li>
View <a href="{% url 'publishers' %}">the list of publishers whose links we've checked</a>.
</li>
</ul>

<h3>Summary of link checks</h3>
<p>
When a link is checked we record the status code and content type returned by the web server. 
</p>
<ul>
<li><a href="{% url 'fixing' %}#code214">"214"</a> indicates an unescaped redirect. 
<li><a href="{% url 'fixing' %}#code302">"301" or "302"</a> indicates a bad redirect. 
<li><a href="{% url 'fixing' %}#code403">"403"</a> indicates a misconfigured server that is not allowing access to the promised resource. 
<li><a href="{% url 'fixing' %}#code404">"404"</a> means the link is broken - the resource is not found.
<li><a href="{% url 'fixing' %}#code514">"418"</a> means the website was pretending not to be there.
<li><a href="{% url 'fixing' %}#code500">"500"</a> means something has gone wrong at the website server.
<li><a href="{% url 'fixing' %}#code502">"502"</a> is a gateway error. Some websites use load balancers or content distribution networks; if these gateways have a problem connecting with the source website, they send a 502 response.
<li><a href="{% url 'fixing' %}#code503">"503"</a> means that a website couldn’t be reached. This could happen because the server was too busy, under maintenance, or something else. Amazon's robot blocker returns 503 codes, so these must be checked manually.
<li><a href="{% url 'fixing' %}#code504">"504"</a> indicates that the server, while acting as a gateway or proxy did not get a response in time from an upstream server. 
<li><a href="{% url 'fixing' %}#code511">"511"</a> indicates a problem with the security of the connection - most often an incomplete certificate.
<li><a href="{% url 'fixing' %}#code524">"524"</a> means the website didn't respond in a reasonable time.
<li><a href="{% url 'fixing' %}#code0">"None" or "0"</a> means something has gone terribly wrong. Possibly a bug in the checker or a malformed url.
</ul>

<p> <b>{{ num_checked|floatformat:"g" }}</b> links are being checked. Of the <b>{{ num_items|floatformat:"g" }}</b> books and book chapters in DOAB,  <b>{{ num_bad_items|floatformat:"g" }}</b> have problems. </p>
<table id="codes">
<tr>
<th>HTTP code</th>
<th>number of links</th>
<th>percent of total</th>
</tr>
{% for code in codes %}
<tr {% if code.recent_check__return_code != 200 %} style="color:red"{% endif %}>
<td> {{ code.recent_check__return_code }} </td>
<td>{% if code.recent_check__return_code != 200 %}<a href="{% url 'problems' code.recent_check__return_code %}"> {{ code.count|floatformat:"g" }} </a>
{% else %} {{ code.count|floatformat:"g"  }} {% endif %}</td>
<td> {{ code.percent }} </td>
</tr>
{% endfor %}
</table>
</div>
</div>
<p>
The doab-check data is available for individual books <a href="{% url 'apihelp' %}">via an api</a>.
</p>
</main>
</body>
</html>