<html>
<head>
<title>DOAB Link Checking Problems by Publisher</title>
{% include "basestyle.html" %}
</head>
<body>
{% include "header.html" %}
<main class="section oapen-topic oapen-main">
		<div class="container">
		<div class="content">
<h2>
DOAB Link Checking Problems by Publisher
</h2>

<h3>Problem Link Summary</h3>
<table>
<tr>
<th>Publisher</th>
<th>Number</th>
</tr>
{% for pub in pubs %}
<tr style="color:red">
<td> <a href="{% url 'publisher' pub.items__publisher_name %}">{{ pub.items__publisher_name }}</a> </td>
<td> {{ pub.items__publisher_name__count }} </td>
</tr>
{% endfor %}
</table>

</ul>
</div>
</div>
</main>
</body>
</html>