<html>
<head>
<title>DOAB Problem Links</title>
</head>
<body>
<h2>
DOAB links with Status code: {{ code | default:'0 or None' }}
</h2>
<ul>
{% for provider in providers %}
<li> <a href="#{{ provider.provider | urlencode }}">{{ provider.provider }}</a>:
     {{ provider.count }} problem links </li>
{% endfor %}
</ul>

<dl>
{% for provider in providers %}
<dt id="{{ provider.provider | urlencode }}"><h3>{{ provider.provider }}</h3></dt>
<dd>
<ul>
{% for link in provider.links %}
<li>
<p><a href="{{link.url}}">{{link.url}}</a>  ({{link.items.first.publisher_name | default:'*** no publisher name ***'}})
<table>
{% for check  in link.recent_checks %}
<tr>
<td>{{ check.created }}</td>
<td {% if check.return_code != 200 %} style="color:red"{% endif %}>{{ check.return_code }}</td>
<td>{{check.content_type}}</td>
{% endfor %}
</table>
</li>
{% endfor %}
</ul>
</dd>
{% endfor %}
</dl>
</body>
</html>