<html>
<head>
<title>DOAB Hosts</title>
{% include "basestyle.html" %}
</head>
<body>
{% include "header.html" %}
<main class="section oapen-topic oapen-main">
		<div class="container">
		<div class="content">
<h2>
Link Checking for 
{{provider.provider}} ({{provider.link_count}} links) 
</h2>
<h3>Summary</h3>
<table>
<tr>
<th>HTTP Code</th>
<th>number</th>
<th></th>
</tr>
{% for code in codes %}
<tr {% if code.recent_check__return_code != 200 %} style="color:red"{% endif %}>
<td> {{ code.recent_check__return_code }} </td>
<td> <a href="#code{{ code.recent_check__return_code }}">{{ code.recent_check__return_code__count }}</a>
<td><a href="{% url 'fixing' %}#{{ code.recent_check__return_code }}">how to fix</a></td>
</tr>
{% empty %}
<tr><td colspan=2>None of the active links for {{ provider.provider }} have been checked.</td>
{% endfor %}
</table>

<h3>Checked links by status</h3>
<ul>
{% for codeobj in codes %}
{% with code=codeobj.recent_check__return_code %}
<h3{% if code != 200 %} style="color:red"{% endif %} id="code{{ code }}"> {{ code }}</h3>
{% for link in codeobj.links %}
{% with title=link.title %}
    {% ifchanged title %}<div class='itemtitle'>{{ title }}</div>{% endifchanged %}
    
    <div class='itemlink'><a href="{{ link.url }}">{{ link.url }}</a></div>  
    <a href="{% url 'link' link.id %}">[full info]</a>

    <table class="checked">
    <tr>
    <td>Last checked: {{ link.recent_check.created }}</td>
    <td {%if code != 200 %} style="color:red"{% endif %}>{{ code }}</td>
    <td>{{ link.recent_check.content_type }}</td>
    </tr>
    </table>
{% if forloop.counter == 1000 %} Can't display more than 1000 links {% endif %}
{% endwith %}
{% endfor %}

{% endwith %}
{% endfor %}
</div>
</div>
</main>
</body>
</html>