<html>
<head>
<title>DOAB Publishers</title>
{% include "basestyle.html" %}
</head>
<body>
{% include "header.html" %}
<main class="section oapen-topic oapen-main">
		<div class="container">
		<div class="content">
<h2>
DOAB Linkchecking by Publisher
</h2>
<ul>
{% for publisher in publisher_list %}
<li><a href="{% url 'publisher' publisher.publisher_name|default:'*** no publisher name ***' %}">
{% if publisher.publisher_name %}{{publisher.publisher_name}}
{% else %}*** no publisher name ***
{% endif %}
</a> ({{publisher.item_count}})</li>
{% endfor %}
</ul>
</div>
</div>
</main>
</body>
</html>