<html>
<head>
<title>DOAB Link Checking for {{ publisher.publisher }}</title>
</head>
<body>
<h2>
DOAB Linkchecking for 
{{ publisher.publisher }} ({{ publisher.item_count|default:0 }} records)
</h2>

<h3>Link checking summary</h3>
<table>
<tr>
<th>HTTP Code</th>
<th>number</th>
</tr>
{% for code in codes %}
<tr {% if code.links__recent_check__return_code != 200 %} style="color:red"{% endif %}>
<td> {{ code.links__recent_check__return_code }} </td>
<td> {{ code.count }} </td>
</tr>
{% endfor %}
</table>

<h3>Items with checked links</h3>
<ul>
{% for item in items %}
<li>
<a href="{{ item.url }}">{{ item.doab }}</a> -  {{ item.title }}
{% for link in item.links.all %}
    <table>
    <tr>
    <th>
    <a href="{{ link.url }}">{{ link.url }}</a>
    </th>
    <tr>
    <td>
        <table>
        {% for check in link.recent_checks %}
        <tr {% if check.return_code != 200 %} style="color:red"{% endif %}>
        <td>{{ check.created }}:</td>
        <td>{{ check.return_code }}</td>
        <td>{{ check.content_type }}</td>
        </tr>
        {% endfor %}
        </table>
    </td>
    </tr>
    {% endfor %}
    </table>
</li>
{% empty %}
None of the active links for {{ publisher.publisher }} have been checked.
{% endfor %}
</ul>
</body>
</html>